<!DOCTYPE html>
<html>
<head>
  <title>RailsFrontend</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<section class="section">
  <div class="container">
    <h1 class="title">
      Frontend Comparison
    </h1>
    <nav class="tabs" role="navigation" aria-label="main navigation">
      <ul>
        <li class="<%= "is-active" if current_page?(controller: 'system', action: :ajax) %>"><%= link_to "Ajax", :ajax %></li>
        <li class="<%= "is-active" if current_page?(controller: 'system', action: :actioncable) %>"><%= link_to "Action Cable", :actioncable %></li>
        <li class="<%= "is-active" if current_page?(controller: 'system', action: :stimulus) %>"><%= link_to "Stimulus", :stimulus %></li>
        <li class="<%= "is-active" if current_page?(controller: 'system', action: :vue) %>"><%= link_to "Vue", :vue %></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</section>
</body>
</html>
